{% extends "base.html" %}
{% load static %}

{% block title %}タスク図解{% endblock %}

{% block content %}
    <h4 class="mt-4 border-bottom">タスク図解</h4>
    <h4 style="text-align: center; color: red"><b>緊急度高</b></h4>
    <div class="parent">
        <div class="inline-block"><h4 style="color: blue"><b>重要度低　</b></h4></div>
        <div class="inline-block">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="task">
                            <table class="table" style="border-collapse: collapse;">
                                <thead class="thead-light">
                                <tr>
                                    <th width="400">誰かに任せる</th>
                                </tr>
                                </thead>
                                <tbody style="display: block; overflow-y: scroll; height: 150px">
                                {% for post in figure_list %}
                            {% if post.importance == False and post.urgency == True %}
                                <tr>
                                    <td style="width: auto; border: none">
                                        <a href="{% url 'posts:detail' post.pk %}">{{ post.task }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td>
                        <table class="table" style="border-collapse: collapse;">
                            <thead class="thead-light">
                            <tr>
                                <th width="400">すぐにやる</th>
                            </tr>
                            </thead>
                            <tbody style="display: block; overflow-y: scroll; height: 150px">
                            {% for post in figure_list %}
                        {% if post.importance == True and post.urgency == True %}
                            <tr>
                                <td style="width: auto; border: none">
                                    <a href="{% url 'posts:detail' post.pk %}">{{ post.task }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table" style="border-collapse: collapse;">
                            <thead class="thead-light">
                            <tr>
                                <th style="width: auto">後でやる</th>
                            </tr>
                            </thead>
                            <tbody style="display: block; overflow-y: scroll; height: 150px">
                            {% for post in figure_list %}
                        {% if post.importance == False and post.urgency == False %}
                            <tr>
                                <td style="width: auto; border: none">
                                    <a href="{% url 'posts:detail' post.pk %}">{{ post.task }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table" style="border-collapse: collapse;">
                            <thead class="thead-light">
                            <tr>
                                <th style="width: auto">いつやるか決める</th>
                            </tr>
                            </thead>
                            <tbody style="display: block; overflow-y: scroll; height: 150px">
                            {% for post in figure_list %}
                        {% if post.importance == True and post.urgency == False %}
                            <tr>
                                <td style="width: auto; border: none">
                                    <a href="{% url 'posts:detail' post.pk %}">{{ post.task }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
            </table>
        </div>
        <div class="inline-block"><h4 style="color: red"><b>　重要度高</b></h4></div>
    </div>
    <h4 style="text-align: center; color: blue;"><b>緊急度低</b></h4>
{% endblock %}